version: "3.9"

services:
  backend:
    build: ./backend
    container_name: taskpilot-backend
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    restart: unless-stopped

  frontend:
    build: ./mern-task-frontend
    container_name: taskpilot-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    restart: unless-stopped
